
.Content_win{
	width: 750px;
	margin: auto;
	/*border: 1px solid red;*/
	margin-top: 50px;
}
.Content_win .nav_win{
	width:700px;
	/*border: 1px solid red;*/
	margin: 50px 0 0 0px;
}
.Content_win .nav_win .img_win{
	width: 64px;
	/*height: 80px;*/
	/*border: 1px solid red;*/
	float: left;
	margin: 20px 15px 10px 15px;
}
.Content_win .nav_win .img_win .img_icon{
	display: block;
	width: 100%;
	position: relative;
}
.Content_win .nav_win .img_icon img.img1{
	width: 100%;
}
.Content_win .nav_win .img_icon img.img2{
	width: 34px;
	height: 34px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -17px 0 0 -17px;
}
.Content_win .nav_win .img_win>span{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 25px;
	
}
.Content_win .new_win{
	/*width: 100%;*/
	/*border: 1px solid red;*/
	display: inline-block;
	margin: 50px 0 0 0px;
}
.Content_win .new_win .new_content{
	width: 335px;
	height: auto;
	/*border: 1px solid red;*/
	float: left;
	margin-right: 50px;
	
	border: 1px solid #d7dde4;
	border-radius: 5px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
.Content_win .new_win .new_content:hover{
	box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
	border-color: #eee;
}
.Content_win .new_win .new_content .title{
	display: block;
	width: 100%;
	height: 40px;
	/*color: white;*/
	line-height: 40px;
	/*background-color: #fff;*/
	box-sizing: border-box;
	padding-left: 10px;
	border-bottom: 1px solid #d7dde4;
}
.Content_win .new_win .new_content .dbList{
	background-color: #FFFFFF;
	/*border: 1px solid #1B96D1;
	border-top: 0;*/
	box-sizing: border-box;
}
.Content_win .new_win .new_content .dbList ul{
	width: 95%;
	border-bottom: 1px dashed #EEEEEE;
	margin: auto;
}
.Content_win .new_win .new_content .dbList li{
	height: 35px;
	line-height: 35px;
}