<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>无标题文档</title>
		<!--框架必需start-->
		<script type="text/javascript" th:src="@{/libs/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/libs/js/language/cn.js}"></script>
		<script type="text/javascript" th:src="@{/libs/js/framework.js}"></script>
		<link th:href="@{/libs/css/import_basic.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" id="skin" prePath="../../" />
		<link rel="stylesheet" type="text/css" id="customSkin" />
		<!--框架必需end-->
		<style type="text/css">
			
		</style>
		<link rel="stylesheet" type="text/css" th:href="@{/main/homepage/style.css}"/>
	</head>
	<!--<img src="/static/main/logo.png" th:src="@{/main/logo.png}" />-->
	<body>
		<div class="Content_win">
			<div class="nav_win">
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_01.png" th:src="@{/main/homepage/flatIcons/icon_bg_01.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_01.png" th:src="@{/main/homepage/flatIcons/icon_con_01.png}" class="img2"/>
					</a>
					<span>发文起草</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_02.png" th:src="@{/main/homepage/flatIcons/icon_bg_02.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_02.png" th:src="@{/main/homepage/flatIcons/icon_con_02.png}" class="img2"/>
					</a>
					<span>收起起草</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_03.png" th:src="@{/main/homepage/flatIcons/icon_bg_03.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_03.png" th:src="@{/main/homepage/flatIcons/icon_con_03.png}" class="img2"/>
					</a>
					<span>签到起草</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_04.png" th:src="@{/main/homepage/flatIcons/icon_bg_04.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_04.png" th:src="@{/main/homepage/flatIcons/icon_con_04.png}" class="img2"/>
					</a>
					<span>考勤申请</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_05.png" th:src="@{/main/homepage/flatIcons/icon_bg_05.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_05.png" th:src="@{/main/homepage/flatIcons/icon_con_05.png}" class="img2"/>
					</a>
					<span>办公用品</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_06.png" th:src="@{/main/homepage/flatIcons/icon_bg_06.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_06.png" th:src="@{/main/homepage/flatIcons/icon_con_06.png}" class="img2"/>
					</a>
					<span>车辆预定</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="style/flatIcons/icon_bg_07.png" th:src="@{/main/homepage/flatIcons/icon_bg_07.png}" class="img1"/>
						<img src="style/flatIcons/icon_con_07.png" th:src="@{/main/homepage/flatIcons/icon_con_07.png}" class="img2"/>
					</a>
					<span>会议室预定</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_08.png" th:src="@{/main/homepage/flatIcons/icon_bg_08.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_08.png" th:src="@{/main/homepage/flatIcons/icon_con_08.png}" class="img2"/>
					</a>
					<span>登记网站</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_09.png" th:src="@{/main/homepage/flatIcons/icon_bg_09.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_09.png" th:src="@{/main/homepage/flatIcons/icon_con_09.png}" class="img2"/>
					</a>
					<span>人力资源系统</span>
				</div>
				<div class="img_win">
					<a class="img_icon" onclick="showToast1($(this).next('span').text())">
						<img src="/main/homepage/flatIcons/icon_bg_10.png" th:src="@{/main/homepage/flatIcons/icon_bg_10.png}" class="img1"/>
						<img src="/main/homepage/flatIcons/icon_con_10.png" th:src="@{/main/homepage/flatIcons/icon_con_10.png}" class="img2"/>
					</a>
					<span>房管局系统</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="new_win">
				<div class="new_content">
					<div class="title">
						<span class="icon_edit">工作中心</span>
					</div>
					
					<div class="dbList">
						<ul>
							<li class="listPoint"><a href="javascript:;" title="第十三届运动会即将开始，请大家抓紧时间报名"><span class="text_slice" style="width:215px;">第十三届运动会即将开始，请大家抓紧时间报名</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="部门质量保证文件发布"><span class="text_slice" style="width:215px;">部门质量保证文件发布</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="请新同事将网站个人信息补充完整"><span class="text_slice" style="width:215px;">请新同事将网站个人信息补充完整</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="关于成立技术沙龙的通知"><span class="text_slice" style="width:215px;">关于成立技术沙龙的通知</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul style="border: 0;">
							<li class="listPoint"><a href="javascript:;" title="关于组织主题系列活动工作"><span class="text_slice" style="width:215px;">关于组织主题系列活动工作</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="new_content" style="margin-right: 0;">
					<div class="title">
						<span class="icon_user">个人事务</span>
					</div>
					<div class="dbList">
						<ul>
							<li class="listPoint"><a href="javascript:;" title="第十三届运动会即将开始，请大家抓紧时间报名"><span class="text_slice" style="width:215px;">第十三届运动会即将开始，请大家抓紧时间报名</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="部门质量保证文件发布"><span class="text_slice" style="width:215px;">部门质量保证文件发布</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="请新同事将网站个人信息补充完整"><span class="text_slice" style="width:215px;">请新同事将网站个人信息补充完整</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul>
							<li class="listPoint"><a href="javascript:;" title="关于成立技术沙龙的通知"><span class="text_slice" style="width:215px;">关于成立技术沙龙的通知</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
						<ul style="border: 0;">
							<li class="listPoint"><a href="javascript:;" title="关于组织主题系列活动工作"><span class="text_slice" style="width:215px;">关于组织主题系列活动工作</span></a></li>
							<li style="width:100px;">2010-09-07</li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	<script type="text/javascript">
		function showToast1(text){
			top.Toast('showNoticeToast',text );
		}
	</script>
	</body>

</html>