<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11"/>
	<title>CLOUD SERVICE</title>
	<!--框架必需start-->
	<link th:href="@{/libs/css/import_main.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/libs/skins/blue/style.css}" rel="stylesheet" type="text/css" id="theme" themeColor="blue" positionTarget="positionContent"/>
	<link th:href="@{/main/style.css}" rel="stylesheet" type="text/css" id="skin" skinPath="/static/main/"/>
	<script type="text/javascript" th:src="@{/libs/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/libs/js/language/cn.js}"></script>
	<script type="text/javascript" th:src="@{/libs/js/main.js}"></script>
	<!--框架必需end-->

	<!--弹窗组件start-->
	<script type="text/javascript" th:src="@{/libs/js/popup/drag.js}"></script>
	<script type="text/javascript" th:src="@{/libs/js/popup/dialog.js}"></script>
	<!--弹窗组件end-->

	<!--引入提示组件start-->
	<script type="text/javascript" th:src="@{/libs/js/popup/toast.js}"></script>
	<script type="text/javascript" th:src="@{/libs/js/popup/notice.js}"></script>
	<!--引入提示组件end-->

	<!--左侧导航start-->
	<script type="text/javascript" th:src="@{/libs/js/nav/menuNav.js}"></script>
	<!--左侧导航end-->

	<!--信件箱start-->
	<link rel="stylesheet" type="text/css" th:href="@{/libs/skins/blue/msgbox.css}" />
	<script type="text/javascript" th:src="@{/libs/js/popup/msgbox.js}"></script>
	<!--信件箱end-->

	<style>
		body{
			width: 100%!important;
			margin: 0;
			padding:0;
		}
		/*修改小铃铛样式*/
		.right_tip{
			width: 60px;
			height: 50px;
			margin-left: 0;
			cursor: pointer;
		}
		.tip_icon{
			margin-top: 12px;
		}
		.tip_balloons{
			margin-top: 5px;
		}
		.tip_toggle_content{
			top: 50px;
			right: -16px;
		}
		.tip_allcontent_win,
		.tip_allcontent{
			top: 0px;
		}
		.tip_icon{
			background: url(/static/main/page_head_ico.png) 0 -60px no-repeat;
		}
		.tip_icon_win:hover .tip_icon{
			background: url(/static/main/page_head_ico.png) 0 -60px no-repeat;
		}
		#positionContent{
			float: left;
			width: 250px;
			height: 50px;
			line-height: 50px;
			/*color: #fff;*/
			margin-left: 20px;
		}
	</style>
</head>
<body>
<div id="mainFrame1">
	<!--头部与导航start-->
	<div id="hbox"></div>
	<!--头部与导航end-->
	<div id="mainFrame">
		<table width="100%" cellpadding="0" cellspacing="0" class="table_border0">
			<tr>
				<!--左侧区域start-->
				<td id="hideCon" class="ver01 ali01">
					<div id="lbox">
						<div id="lbox_topcenter">
							<div class="LeftNav_title">
								<b></b>
								<div class="clear"></div>
							</div>
							<div class="logo_win">
								<img src="/static/main/logo.png" th:src="@{/main/logo.png}" />
								<p>信息管理系统界面</p>
							</div>
						</div>
						<div id="lbox_middlecenter">
							<div id="lbox_middleleft">
								<div id="lbox_middleright">
									<div id="bs_left">


										<div class="LeftNav_win">

											<div class="stair_win" id="stair_win">
												<img src="" alt="" />
											</div>
										</div>
									</div>
									<!--更改左侧栏的宽度需要修改id="bs_left"的样式-->
								</div>
							</div>
						</div>
						<div id="lbox_bottomcenter">
							<div id="lbox_bottomleft">
								<div id="lbox_bottomright">
									<div class="lbox_foot"></div>
								</div>
							</div>
						</div>
					</div>
				</td>
				<!--左侧区域end-->

				<!--右侧区域start-->
				<td class="ali01 ver01" width="100%">
					<div id="rbox">
						<div id="rbox_topcenter">
							<div>
								<span>您好，欢迎访问系统应用！</span>
								<div id="positionContent">首页</div>
								<ul>
									<div class="right_tip"></div>
									<li><b></b></li>
									<!--<a href="product/list.html" th:href="@{/product/list}">Product List</a>-->
									<li><a href="homepage.html" th:href="@{/homepage.html}" target="frmright"><span class="icon_home">系统首页</span></a></li>
									<li><b></b></li>
									<li><span class="icon_lock" onclick="lockScreen()">屏幕锁定</span></li>
									<li><b></b></li>
									<li><span class="icon_user">个人中心</span></li>

									<li><b></b></li>
									<li><span class="icon_exit" onclick="top.Dialog.confirm('确定要退出系统吗',function(){});">退出系统</span></li>
									<div class="clear"></div>
								</ul>
								<div class="clear"></div>
							</div>
						</div>
						<div id="rbox_middlecenter">
							<div id="rbox_middleleft">
								<div id="rbox_middleright">
									<div id="bs_right">
										<IFRAME style="box-sizing: border-box; background: white;" height="100%" width="100%" frameBorder=0 id=frmright name=frmright
												src="homepage.html" th:src="@{/homepage}" allowTransparency="true"></IFRAME>
									</div>
								</div>
							</div>
						</div>
						<div id="rbox_bottomcenter">
							<div id="rbox_bottomleft">
								<div id="rbox_bottomright">

								</div>
							</div>
						</div>
					</div>
				</td>
				<!--右侧区域end-->
			</tr>
		</table>

		<!--尾部区域start-->
		<!--<div id="fbox">
            <div id="bs_footcenter">
                <div id="bs_footleft">
                    <div id="bs_footright">
                        版权所有：http://www.quickui.net
                    </div>
                </div>
            </div>
        </div>-->
	</div>

	<!--尾部区域start-->
	<!--<div id="fbox">
        <div id="bs_footcenter">
        <div id="bs_footleft">
        <div id="bs_footright">
            版权所有：http://www.quickui.net
        </div>
        </div>
        </div>
    </div>-->
</div>
<!--尾部区域end-->

<!--浏览器resize事件修正start-->
<div id="resizeFix"></div>
<!--浏览器resize事件修正end-->

<!--窗口任务栏区域start-->
<div id="dialogTask" class="dialogTaskBg" style="display:none;"></div>
<!--窗口任务栏区域end-->

<!--载进度条start-->
<div class="progressBg" id="progress" style="display:none;"><div class="progressBar"></div></div>
<!--载进度条end-->
<!---->
<script type="text/javascript">
    var data = [
        { "news": "请假正在审批中" },
        { "news": "请各位周五前提交周报" },
        { "news": "QUICKUI新版本上线啦" }
    ];
    tip_construction(data, ".right_tip", 10000); //数据，div的class或者id，定时器时间

    var menuData=[

        { "id":"1", "parentId":"0", "name":"系统管理", "isParent": "true","backgroundPosition":"0px -80px","img":"./skin/topIcons/icon01.png"},
        { "id":"102", "parentId":"1", "name":"用户管理","url":"../../sample_skin/demo/oa_01.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
        { "id":"103", "parentId":"1", "name":"角色管理","url":"../../sample_skin/demo/oa_03.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
        { "id":"104", "parentId":"1", "name":"权限管理","url":"../../sample_skin/demo/oa_04.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},

        { "id":"2", "parentId":"0", "name":"调度管理","backgroundPosition":"0px -16px","img":"./skin/topIcons/icon02.png"},
        { "id":"201", "parentId":"2", "name":"调度任务","url":"../../sample_skin/demo/oa_17.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},

    ];

    // var menuData=[
    //
    //     { "id":"1", "parentId":"0", "name":"OA办公", "isParent": "true","backgroundPosition":"0px -80px","img":"./skin/topIcons/icon01.png"},
    //     { "id":"102", "parentId":"1", "name":"考勤单据","url":"../../sample_skin/demo/oa_01.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"103", "parentId":"1", "name":"我的考勤","url":"../../sample_skin/demo/oa_03.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"104", "parentId":"1", "name":"公司公告","url":"../../sample_skin/demo/oa_04.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"105", "parentId":"1", "name":"公告管理","url":"../../sample_skin/demo/oa_05.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"106", "parentId":"1", "name":"合同管理","url":"../../sample_skin/demo/oa_08.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"107", "parentId":"1", "name":"拜访门店","url":"../../sample_skin/demo/oa_10.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"108", "parentId":"1", "name":"加班调休查询","url":"../../sample_skin/demo/oa_11.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"109", "parentId":"1", "name":"员工通讯录","url":"../../sample_skin/demo/oa_12.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"113", "parentId":"1", "name":"考勤归档","url":"../../sample_skin/demo/oa_13.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"114", "parentId":"1", "name":"费用报销","url":"../../sample_skin/demo/oa_14.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //
    //     { "id":"2", "parentId":"0", "name":"招商管理","backgroundPosition":"0px -16px","img":"./skin/topIcons/icon02.png"},
    //     { "id":"201", "parentId":"2", "name":"招商留言","url":"../../sample_skin/demo/oa_17.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"3", "parentId":"0", "name":"审批管理", "isParent": "true","backgroundPosition":"0px -32px","img":"./skin/topIcons/icon03.png"},
    //     { "id":"301", "parentId":"3", "name":"报销单审批", "url":"../../sample_skin/demo/oa_18.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"4", "parentId":"0", "name":"基础信息", "isParent": "true","backgroundPosition":"0px -64px","img":"./skin/topIcons/icon04.png"},
    //     { "id":"401", "parentId":"4", "name":"资源管理", "url":"../../sample_skin/demo/oa_20.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"402", "parentId":"4", "name":"企业管理", "url":"../../sample_skin/demo/oa_22.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"403", "parentId":"4", "name":"品牌管理", "url":"../../sample_skin/demo/oa_23.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"404", "parentId":"4", "name":"分类管理", "url":"../../sample_skin/demo/oa_24.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"405", "parentId":"4", "name":"商品管理", "url":"../../sample_skin/demo/oa_25.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"406", "parentId":"4", "name":"商品SKU管理", "url":"../../sample_skin/demo/oa_27.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"5", "parentId":"0", "name":"ERP管理", "isParent": "true","backgroundPosition":"0px -96px","img":"./skin/topIcons/icon05.png"},
    //     { "id":"501", "parentId":"5", "name":"采购管理","url":"../../sample_skin/demo/oa_30.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"502", "parentId":"5", "name":"入库【采购】","url":"../../sample_skin/demo/oa_36.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"503", "parentId":"5", "name":"退货管理","url":"../../sample_skin/demo/oa_37.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"504", "parentId":"5", "name":"人工受订单","url":"../../sample_skin/demo/oa_39.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"505", "parentId":"5", "name":"出库【人工受订】","url":"../../sample_skin/demo/oa_44.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"506", "parentId":"5", "name":"入库【人工受订单退货】","url":"../../sample_skin/demo/oa_47.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"507", "parentId":"5", "name":"库存管理","url":"../../sample_skin/demo/oa_50.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"508", "parentId":"5", "name":"供应商管理","url":"../../sample_skin/demo/oa_55.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"509", "parentId":"5", "name":"库房出入管理","url":"../../sample_skin/demo/oa_59.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"510", "parentId":"5", "name":"仓库管理","url":"../../sample_skin/demo/oa_61.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"511", "parentId":"5", "name":"仓位管理","url":"../../sample_skin/demo/oa_63.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"7", "parentId":"0", "name":"财务管理", "isParent": "true","backgroundPosition":"0px -112px","img":"./skin/topIcons/icon03.png"},
    //
    //     { "id":"701", "parentId":"7", "name":"收付款", "url":"../../sample_skin/demo/oa_65.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"702", "parentId":"7", "name":"出货利润", "url":"../../sample_skin/demo/oa_68.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"8", "parentId":"0", "name":"用户管理", "isParent": "true","backgroundPosition":"0px -48px","img":"./skin/topIcons/icon04.png"},
    //     { "id":"801", "parentId":"8", "name":"后台用户", "url":"../../sample_skin/demo/oa_70.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"802", "parentId":"8", "name":"消费者用户", "url":"../../sample_skin/demo/oa_72.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"803", "parentId":"8", "name":"门店用户", "url":"../../sample_skin/demo/oa_73.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"9", "parentId":"0", "name":"系统配置","backgroundPosition":"0px 0px","img":"./skin/topIcons/icon02.png"},
    //     { "id":"901", "parentId":"9", "name":"部门管理","url":"../../sample_skin/demo/oa_75.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"902", "parentId":"9", "name":"用户组管理","url":"../../sample_skin/demo/oa_77.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"903", "parentId":"9", "name":"审批流配置","url":"../../sample_skin/demo/oa_79.html", "target":"frmright","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //
    //     { "id":"6", "parentId":"0", "name":"多级菜单", "isParent": "true","backgroundPosition":"0px -144px","img":"./skin/topIcons/icon06.png"},
    //
    //     { "id":"601", "parentId":"6", "name":"第二级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6101", "parentId":"601", "name":"第三级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6101", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6101", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6101", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6101", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6102", "parentId":"601", "name":"第三级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6102", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6102", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6102", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6102", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6103", "parentId":"601", "name":"第三级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6103", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6103", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6103", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6103", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"602", "parentId":"6", "name":"第二级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0 -128px"},
    //     { "id":"6201", "parentId":"602", "name":"第三级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6201", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6201", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6201", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6201", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6202", "parentId":"602", "name":"第三级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6202", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6202", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6202", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6202", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6203", "parentId":"602", "name":"第三级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61011", "parentId":"6203", "name":"第四级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61012", "parentId":"6203", "name":"第四级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61013", "parentId":"6203", "name":"第四级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"61014", "parentId":"6203", "name":"第四级-4","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"603", "parentId":"6", "name":"第二级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0 -128px"},
    //     { "id":"6301", "parentId":"603", "name":"第三级-1","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6302", "parentId":"603", "name":"第三级-2","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"},
    //     { "id":"6303", "parentId":"603", "name":"第三级-3","icon": "./skin/nav_icon_bg.png","backgroundPosition":"0px -128px"}
    // ];

    var setting = {
        data: {
            simpleData: {
                idKey: "id",
                pIdKey: "parentId",
                enable: true
            },
            key: {
                children: "children"
            }
        }
    };
    $(function(){
        initMenuNav(menuData,setting);
    })
    function lockScreen(){
        top.Dialog.confirm("确定要锁屏吗，锁屏后只有重新输入密码才能解除。",function(){
            openLockWindow();
        });
    }
    function openLockWindow(){
        var diag = new top.Dialog();
        diag.Title = "系统锁屏";
        diag.ID = "a1";
        diag.URL="../../sample_skin/normal/lock.html";
        diag.Width=350;
        diag.Height=150;
        diag.ShowCloseButton=false;
        diag.ShowCancelButton=false;
        diag.ShowOkButton=false;
        diag.ButtonAlign="center";
        diag.AllowChangeIndex=false;
        diag.show();
        diag.addButton("btn1","注销系统",function(){
            top.Dialog.confirm("确定要退出系统吗",function(){top.Dialog.close();});
        })
        diag.addButton("btn2","确定解锁",function(){
            top.Dialog.close();
        })
    }
</script>
</body>
</html>
